* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  height: 100vh;
  width: 100%;
  background: maroon;
  color: #fcfa97;
}
a{
  color: #fcfa97;
}

.app, #app{
  height: 100%;
  width: 100%;
}


::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

/*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #FFF7D2;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}*/

::-webkit-scrollbar-thumb{
  background: #FF0000;
}


.topbar {
  position: fixed;
  color: black;
  display: flex;
  background-color: transparent;
  transition: padding 0.5s ease, background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
  box-shadow: 0px 0px 0px 0px transparent;
  height: 16%;
  width: 100%;
  z-index: 900;
  font-size: 1.7em;
}

.connect{
  background-color: #fcfa97;
  height: 13%;
  font-size: 1.4em;
}
.pic {
  flex: 2 1 0;
  justify-content: center;
  display: flex;
  padding: 5px;
  padding-right: 15px;
}
.picture{
  border-radius: 50%;
}

.nameContainer {
  flex: 17 1 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.topbar-headers{
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.topbar-left{
  border-right: 0.25px solid black;
}

.topbar-right{
  border-left: 0.25px solid black;
}*/


.name{
  align-self: center
  flex: 1 1 0;
  font-size: 5em;
  color: black;
}

.all-links{
  flex: 3 1 0;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  padding-left: 5px;
}

.links {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
}
.icon {
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  flex: 1 1 0;
}
.icon a{
  flex: 1 1 0;
  display: flex;
}
.icon  a img{
  flex: 1 1 0;
}
#github:hover {
  background: url("./assets/github-grey.png");
  background-color: pink;
}

img{
  max-width: 100%;
  max-height: 100%;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./assets/wallpaper1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.type-it{
  color: white;
  margin-top: auto;
  font-size: 5em;
  text-decoration: underline; 
}

.home-scroll{
  margin-top: auto;
  text-align: center;
  font-size: 3em;
  color: grey;
  -webkit-animation: colorchange 4s infinite;
}
 @-webkit-keyframes colorchange {
      0% {
        
        color: grey;
      }
      
      50% {
        
        color: white;
      }
    }
.myself {
  width: 69%;
  height: 100%;
  float: left;

}
.headers{
  height: 10%;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  text-align: center;
}
.project-header div{
  flex: 1 1 0;
  font-size: 3em;
}

.projects {
  width: 100%;
  height: 150%;
  display: flex;
  flex-direction: column;
  font-size: 40px;
 /* background: url("./assets/wallpaper3.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;*/
  background-color: maroon;
  text-align: center;
}
.project{
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 1%;

}
.project-card{
  flex: 3 1 0;
  margin: 1%;
  background: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}
.project-image{
  flex: 5 1 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.project-image img {
  border: 1px solid black;
}
.project-photos{
  flex: 2 1 0;
  display: flex;
  justify-content: space-around;
}
.project-photos div{
  display: flex;
}


.project-title {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcfa97;
}
.project-title div{
  display: flex;
}
.project-title div a{
  color: black;
  text-decoration: none;
  font-family: Helvetica;
}
.project-title div a:hover{
  text-decoration: underline;
}

.project-info{
  flex: 4 1 0;
  margin: 1%; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}
.project-details {
  flex: 4 1 0;
  display: flex;
  background: black;
  font-size: 0.4em;
  flex-direction: column;
}
.project-summary{
  flex: 1 1 0;
  text-align: left;
  padding: 5%;
}
.project-links{
  flex: 2 1 0;
  display: flex;
  justify-content: center;
}

.project-link{
  width: 25%;
  margin: 1%;
  text-decoration: none;
  text-align: center;
  background-color: #340549;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-link:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #64058e;
}
.tech-stack{
  flex: 1 1 0;
  color: grey;
}
.resume-button{
  background-color: #340549;
  text-decoration: none;
  margin: 1%;
  flex: 1 1 0;
  border-radius: 50px;;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #64058e;
}



.skills{
  height: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}
.skills-container {
  flex: 4 1 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.skills-box {
  margin: 0.3%;
  width: 8.05%;
  height: 32%;
  display: flex;
  flex-direction: column;
}
.skills-circle {
  text-align: center;
  border-radius: 50%;
  height:70%;
  width: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #340549;
}
.skills-circle:hover {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skill-front-end {
  background-color: #132768;
}
.skill-front-end:hover {
  background-color: #203c99;
}

.skill-back-end {
  background-color: #13685f;
}
.skill-back-end:hover {
  background-color: #198c80;
}
.skill-databases {
  background-color: #68134f;
}
.skill-databases:hover {
  background-color: #8e196c
}
.skill-languages {
  background-color: #685c13;
}
.skill-languages:hover {
  background-color: #a08e1c;
}
.skill-libraries {
  background-color: #683d13;
}
.skill-libraries:hover {
  background-color: #a5601d;
}
.skill-others {
  background-color: #136815;
}
.skill-others:hover {
  background-color: #1b991e;
}
.skills-name {
  visibility: hidden;
  text-align: center;
  opacity: 0;
  color: white;
  font-size: 1.35em;
  transition: visibility 0s, opacity 0.5s linear;
}
.skills-box:hover .skills-name {
  -webkit-animation: displayChange 2s;
  visibility: visible;
  opacity: 1;
}
.legend{
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.skills-legend {
  flex: 1 1 0;
  width: 40%;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.skills-legend-box {
  margin: 0.3%;
  width: 25%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  color: white;
  border: 4px solid black;
}

.skills-legend-circle {
  flex: 1 1 0;
  height: 90%;
  width: 10%;
  margin: 5%;
  border-radius: 50%;
}

.skills-legend-name {
  flex: 4 1 0;
  display: flex;
  margin-left: 5%;
}

.skills-legend-box-selected {
  background-color: white;
  color: black;
}

.skills-legend-circle-front-end {
  background-color: #132768;
}

.skills-legend-circle-back-end {
  background-color: #13685f;
}

.skills-legend-circle-databases {
  background-color: #68134f;
}

.skills-legend-circle-languages {
  background-color: #685c13;
}

.skills-legend-circle-libraries {
  background-color: #683d13;
}

.skills-legend-circle-others {
  background-color: #136815;
}

/*.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 700ms ease-in;
}*/
/* @-webkit-keyframes displayChange {
      0% {
        
        visibility: hidden;
        opacity: 0;
      }
      
      50% {
        
        visibility: visible;
        opacity: 1;
      }
}*/

.photos{
  height: 80%;
  display: flex;
  flex-direction: column;
  background: url("./assets/wallpaper4.jpg") no-repeat center;
  background-size: cover;
}

.empty-photos{
  flex: 9 1 0;
}
.images{
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
}
.all-pics{
  display: flex;
}
.all-pic{
  display: flex;
  margin: 1%;
}

.contact{
  height: 50%;
  display: flex;
  flex-direction: row;
  background: maroon;
  padding: 5%;
}
.form{
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  background-color: black;
  /*border: 1px solid black;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-input{
  flex: 6 1 0;
  display: flex;
  flex-direction: column;
  padding: 1% 1% 0 1%;
}
.form-input div{
  display: flex;
  margin-bottom: 1%;
  flex: 1 1 0;
}
.form-input textarea{
  display: flex;
  flex: 6 1 0;
  font-size: 2em;
  background-color: white;
  border-color: green;
}
.form-input textarea:focus {
  background-color: rgb(221,221,221);
  cursor: text;
}
#message-box{
  flex: 6 1 0;
}

.form-submit{
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-submit div{
  background-color: #340549;
  border-radius: 10%;
  padding: 1%;
}
.form-submit div:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #64058e;
}
.about{
  height: 30%;
  display: flex;
}

.about-photo{
  flex: 2 1 0;
  display: flex;
}
.about-photo img{
  flex: 1 1 0;
  margin: 2%;
  border-radius: 50%;
}
.about-bio{
  flex: 6 1 0;
  display: flex;
  align-items: center;
}
.about-bio div{
  font-size: 1.2em;
  margin-left: 3%
}
.about-bio a {
  font-size: 0.9em;
  margin-left: 3%;
  text-decoration: none;
}
.about-bio a:hover {
  text-decoration: underline;
}
.about-bio span{
  font-size: 3em;
}
.about-logo{
  flex: 1 1 0;
  display: flex;
  padding: 2%;
}
.about-logo img{
  flex: 1 1 0;
}

input{
  border: 1px solid black;
}
textarea{
  border: 1px solid black;
}
