* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  height: 100vh;
  width: 100%;
  background: white;
  color: white;
  font-family: Calibri;
}
a{
  color: #fcfa97;
}

.app, #app{
  height: 100%;
  width: 100%;
}


::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

/*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #FFF7D2;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}*/

::-webkit-scrollbar-thumb{
  background: #FF0000;
}


.topbar {
  position: fixed;
  display: flex;
  background-color: transparent;
  transition: padding 0.5s ease, background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
  box-shadow: 0px 0px 0px 0px transparent;
  height: 8%;
  width: 100%;
  z-index: 900;
  font-size: 1.7em;
}

.connect{
  background-color: black;
  height: 6%;
  font-size: 1.4em;
}
.pic {
  flex: 2 1 0;
  justify-content: center;
  display: flex;
  padding: 5px;
  padding-right: 15px;
}
.picture{
  border-radius: 50%;
}

.nameContainer {
  flex: 17 1 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.topbar-headers{
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: Helvetica;
}
.topbar-headers:hover {  
    color: #fed136; 
}
.topbar-new-headers{
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  font-family: Helvetica;
  text-transform: none;
  padding: 0;
  font-size: 1em;
}

/*.topbar-left{
  border-right: 0.25px solid black;
}

.topbar-right{
  border-left: 0.25px solid black;
}*/


.name{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 0;
  padding: 0.5%;
  color: black;
}

.all-links{
  flex: 2 1 0;
  display: flex;
  flex-direction: row;
  align-items: space-around;
  justify-content: space-around;
  padding-left: 5px;
}

.links {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
}
.icon {
  margin-top: 3%;
  margin-bottom: 2%;
  margin-right: 0.2%;
  display: flex;
  align-items: center;
  flex: 1 1 0;
}
.icon-link{
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: black;
  border-radius: 50%;
  font-size: 1.1em;
}
.icon-link:hover {
  background-color: #fed136;
  transition: background-color 100ms linear;
}



img{
  max-width: 100%;
  max-height: 100%;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("wallpaper1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.type-it{
  color: white;
  margin-top: auto;
  font-size: 5em;
  text-decoration: underline; 
}

.home-scroll{
  margin-top: auto;
  text-align: center;
  font-size: 3em;
  color: grey;
  -webkit-animation: colorchange 4s infinite;
}
 @-webkit-keyframes colorchange {
      0% {
        
        color: grey;
      }
      
      50% {
        
        color: white;
      }
    }
.myself {
  width: 69%;
  height: 100%;
  float: left;

}
.headers{
  height: 10%;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  text-decoration: underline;
}
.project-header div{
  flex: 1 1 0;
  font-size: 3em;
}

.projects {
  width: 100%;
  height: 150%;
  display: flex;
  flex-direction: column;
  font-size: 40px;
 /* background: url("wallpaper3.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;*/
  text-align: center;
}
.project{
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 1%;

}
.project-card{
  flex: 3 1 0;
  margin: 1%;
  background: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}
.project-image{
  flex: 5 1 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.project-image img {
  border: 1px solid black;
}
.project-photos{
  flex: 2 1 0;
  display: flex;
  justify-content: space-around;
}
.project-photos div{
  display: flex;
}


.project-title {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-title-link {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fed137;
  color: white;
}
.project-title-link:hover {
  color: white;
  background-color: #fec503;
}


.project-info{
  flex: 4 1 0;
  margin: 1%; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}
.project-details {
  flex: 4 1 0;
  display: flex;
  background: black;
  font-size: 0.4em;
  flex-direction: column;
}
.project-summary{
  flex: 1 1 0;
  text-align: left;
  padding: 5%;
}
.project-links{
  flex: 2 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-stack{
  flex: 1 1 0;
  color: grey;
}
.resume-button{
  text-decoration: none;
  margin: 1%;
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.skills{
  height: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}
.skills-container {
  flex: 4 1 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.skills-box {
  margin: 0.3%;
  width: 8.05%;
  height: 32%;
  display: flex;
  flex-direction: column;
}
.skills-circle {
  text-align: center;
  border-radius: 50%;
  height:70%;
  width: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #340549;
}
.skills-circle:hover {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.skill-front-end {
  background-color: #132768;
}
.skill-front-end:hover {
  background-color: #203c99;
}

.skill-back-end {
  background-color: #13685f;
}
.skill-back-end:hover {
  background-color: #198c80;
}
.skill-databases {
  background-color: #68134f;
}
.skill-databases:hover {
  background-color: #8e196c
}
.skill-languages {
  background-color: #685c13;
}
.skill-languages:hover {
  background-color: #a08e1c;
}
.skill-libraries {
  background-color: #683d13;
}
.skill-libraries:hover {
  background-color: #a5601d;
}
.skill-others {
  background-color: #136815;
}
.skill-others:hover {
  background-color: #1b991e;
}
.skills-name {
  visibility: hidden;
  text-align: center;
  opacity: 0;
  font-size: 1.35em;
  color: black;
  transition: visibility 0s, opacity 0.5s linear;
}
.skills-box:hover .skills-name {
  -webkit-animation: displayChange 2s;
  visibility: visible;
  opacity: 1;
}
.legend{
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.skills-legend {
  flex: 1 1 0;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.skills-legend-box {
  margin: 0.3%;
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  color: white;
  border: 4px solid black;
  cursor: pointer;
}
.skills-legend-box:hover {
  background-color: #fec503;
}

.skills-legend-circle {
  flex: 1 1 0;
  height: 90%;
  width: 10%;
  margin: 5%;
  border-radius: 50%;
}

.skills-legend-name {
  flex: 4 1 0;
  display: flex;
  margin-left: 5%;
}

.skills-legend-box-selected {
  background-color: #fed136;
  color: white;
}

.skills-legend-circle-front-end {
  background-color: #132768;
}

.skills-legend-circle-back-end {
  background-color: #13685f;
}

.skills-legend-circle-databases {
  background-color: #68134f;
}

.skills-legend-circle-languages {
  background-color: #685c13;
}

.skills-legend-circle-libraries {
  background-color: #683d13;
}

.skills-legend-circle-others {
  background-color: #136815;
}

/*.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 700ms ease-in;
}*/
/* @-webkit-keyframes displayChange {
      0% {
        
        visibility: hidden;
        opacity: 0;
      }
      
      50% {
        
        visibility: visible;
        opacity: 1;
      }
}*/

.photos{
  height: 80%;
  display: flex;
  flex-direction: column;
  background: url("wallpaper1.jpg") no-repeat center;
  background-size: cover;
}

.empty-photos{
  flex: 9 1 0;
}
.images{
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0,0,0,0.7);
}
.all-pics{
  display: flex;
}
.all-pic{
  display: flex;
  margin: 1%;
}

.contact{
  height: 70%;
  display: flex;
  flex-direction: row;
  padding: 5%;
}
.form{
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  background-color: black;
  /*border: 1px solid black;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-input{
  flex: 6 1 0;
  display: flex;
  flex-direction: column;
  padding: 1% 1% 0 1%;
}

.contact-name{
  display: flex;
  margin-bottom: 1%;
  flex: 1 1 0;
}
.contact-email{
  display: flex;
  margin-bottom: 1%;
  flex: 1 1 0;
}
.contact-message{
  flex: 6 1 0;
  display: flex;
}
.contact-title{
  flex: 1 1 0;
  display: flex;
}
.form-input textarea{
  display: flex;
  flex: 6 1 0;
  font-size: 2em;
  color: black;
  background-color: white;
}
.form-input textarea:focus {
  background-color: rgb(221,221,221);
  cursor: text;
}
.form-input input{
  display: flex;
  flex: 6 1 0;
  font-size: 2em;
  color: black;
  background-color: white;
}
.form-input input:focus {
  background-color: rgb(221,221,221);
  cursor: text;
}
#message-box{
  flex: 6 1 0;
  display: flex;
}
.message-box-title{
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0%;
}

.message-required{
  color: red;
  margin-right: 7%;
}
.message-sent{
  color: green;
  margin-right: 7%;
  padding: 8%;
}


.form-submit{
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}
.form-submit div{
  font-size: 1em;
  text-transform: none;
  font-family: Helvetica;
  font-weight: 400;
}

.contact-required{
  border: 2px solid red;
  border-color: red;
}
.about{
  height: 30%;
  display: flex;
  background-color: black;
}

.about-photo{
  flex: 2 1 0;
  display: flex;
  z-index: 20;
}
.about-photo img{
  flex: 1 1 0;
  margin: 2%;
  border-radius: 50%;
}
.about-bio{
  flex: 6 1 0;
  display: flex;
  align-items: center;
  z-index: 20;
}
.about-bio div{
  font-size: 1.1em;
  margin-left: 3%
}
.about-bio a {
  font-size: 0.9em;
  margin-left: 3%;
  text-decoration: none;
  color: #fed136;
}
.about-bio a:hover {
  text-decoration: underline;
}
.about-bio span{
  font-size: 3em;
}
.about-logo{
  flex: 1 1 0;
  display: flex;
  padding: 2%;
}
.about-logo img{
  flex: 1 1 0;
}
input{
  border: 1px solid black;
}
textarea{
  border: 1px solid black;
}

.btn-primary:hover {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-primary {
  font-weight: 400;
}
#marco{
  width: 36.7%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 16px;
}

#cielo{
  width: 100%;
  height: 30%;
  background: linear-gradient(to bottom,  #0B4C5F 0%,#fed137 52%,#0c0207 100%); 
  position: absolute;
  z-index: 0;
}

#edificios{
  background: url('city.png');
  height: 25%; 
  width: 100%;
  z-index: 10;
  background-position: 0px 0px;
  background-repeat: repeat-x;
  -webkit-animation: animar_edificios 120s linear infinite;
  -ms-animation: animar_edificios 120s linear infinite;
  -moz-animation: animar_edificios 120s linear infinite;
  position: absolute;
  text-align: left;
  font-size: 1.2em;
}

/* Animacion edificios */

@keyframes  animar_edificios {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@-webkit-keyframes  animar_edificios {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@-ms-keyframes  animar_edificios {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
@-moz-keyframes  animar_edificios {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}
   
#luna {
  width: 3em;
  height: 3em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 30px 10px 0 #F7F8E0;
  -webkit-box-shadow: 30px 10px 0 #F7F8E0;
  box-shadow: 5px 5px 0 #F7F8E0;
  margin-top: 1em;
  margin-left: 90%;
  position: absolute;
  z-index: 7;
}

#gato{
  background: url('cat-sprite.png');
  height: 19.5%; 
  width: 253.75px;
  margin-top: 2em;
  z-index: 30;
  position: absolute;
  -webkit-animation: sprite-animation 1.2s steps(16,end) infinite;
  -moz-animation: sprite-animation 1.2s steps(16,end) infinite; 
  -ms-animation: sprite-animation 1.2s steps(16,end) infinite; 
  animation: sprite-animation 1.2s steps(16,end) infinite;
}

@-webkit-keyframes sprite-animation { 
  from { background-position: 0 0; }
  to { background-position: -8120px 0; } 
}

@-ms-keyframes sprite-animation { 
  from { background-position: 0 0; }
  to { background-position: -8120px 0; }
}

@-moz-keyframes sprite-animation { 
  from { background-position: 0 0; }
  to { background-position: -8120px 0; }
}

@keyframes sprite-animation { 
  from { background-position: 0 0; }
  to { background-position: -4070px 0; }
}
