* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.app, #app{
  height: 100%;
  width: 100%;
}
body {
  height: 100vh;
  background: steelblue;
}
.topbar {
  position: absolute;
  width: 99.4%;
  height: 13%;
  background: transparent;
  transition: padding 0.5s ease, background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
  box-shadow: 0px 0px 0px 0px transparent;
  border-bottom: 1px solid transparent;
  padding: 2em 0em;
  z-index: 900;
}
.app {
  overflow-y: scroll;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #FFF7D2;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.4);
}
.projects {
  width: 90%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  background: maroon;
  text-align: center;
  float: center;
  z-index: 0;
}
.pic {
  height: 100%;
  width: 7%;
  border-radius: 50%;
  display: inline-block;
  float: left;
}
#profile {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.name {
  width: 40%;
  height: 90%;
  margin-top:  0px;
  margin-left: 20%;
  font-size: 50px;
  text-align: center;
  display: inline-block;
  background: transparent;
  color: pink;
  float: center;
  padding-top: 1%;
}

.connect {
  background-color: white;
  border-bottom: 1px solid #DDDDDD;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
  padding: 1em 0em;
}

.intro {
  width: 100%;
  height: 70%;
  position: relative;
  background: midnightblue;
}
.introduction {
  width: 100%;
  height: 60%;
  background: transparent;
  position: absolute;
  bottom: 0;
}
.title{
  width: 30%;
  height: 100%;
  background: transparent;
  font-size: 50px;
  float: left;
  border-right: 1px solid #DDDDDD;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}


.myself {
  width: 69%;
  height: 100%;
  float: left;

}


.footer {
  display: block;
  background: brown;
  height: 40%;
  width: 100%;
  clear: both;
  bottom: 0px;
  z-index: 0;
}
.links {
  height: 100%;
  width: 30%;
  float: right;
  background-color: transparent;
}
.link {
  height: 30%;
  width: 100%;
}
.image {
  height: 100%;
  width: 10%;
  float: left;
}
a{
  margin-top: 1%;
  float: left;
  margin-left: 4%;
}